{% extends 'base.html' %}

{% block content %}
	
	<br>
	<h4 style="color: Blue;">LOGIN</h4>	
	<br>
	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}
		<input type="text" name="username" placeholder="User Name">
		<br><br>
		<input type="password" name="password" placeholder="Password">
		<br><br>
		<button type="submit" class="btn btn-danger">Login</button>
	</form>
	<br>
	<span style="color: red">{{ error }}</span>
	<span style="color: green">{{ errorr }}</span>

{% endblock %}